#version=RHEL9

# Install mode
text
harddrive --partition=LABEL=RHEL-9-7-0- --dir=/

# Accept EULA
eula --agreed

# System language
lang en_CA.UTF-8
keyboard --xlayouts='us'

# Timezone
timezone America/Halifax --utc

# Root password
rootpw --iscrypted $ROOT_PASSWORD_HASH

# Create user
user --name=micomeau --password=$MICOMEAU_PASSWORD_HASH --iscrypted --groups=wheel

# Network
network --hostname=micomeauLHV --bootproto=static --ip=192.168.2.5 --netmask=255.255.255.0 --gateway=192.168.2.1 --nameserver=8.8.8.8,1.1.1.1 --device=link --activate --onboot=yes

# Security
firewall --enabled --ssh
selinux --enforcing

# Install to NVMe drive
zerombr
ignoredisk --only-use=nvme0n1
clearpart --all --initlabel --drives=nvme0n1
part /boot/efi --fstype=efi --size=600 --ondisk=nvme0n1
part /boot --fstype=xfs --size=1024 --ondisk=nvme0n1
part pv.01 --fstype=lvmpv --size=1 --grow --ondisk=nvme0n1

volgroup vg0 pv.01
logvol / --vgname=vg0 --name=root --fstype=xfs --size=8192 --grow
logvol swap --vgname=vg0 --name=swap --fstype=swap --size=4096

bootloader --boot-drive=nvme0n1

# Packages
%packages
@^minimal-environment
ansible-core
%end

%post --log=/root/ks-post.log

# Need UTF-8 for Ansible
export LANG=en_CA.UTF-8
export LC_ALL=en_CA.UTF-8

# Run Ansible pull
ansible-pull -U https://github.com/antios/home-server.git -i inventory install.yml >> /root/ansible-pull.log 2>&1

%end

reboot